---
import Layout from "../../layouts/Layout.astro";
import Blogs from "../../components/blogs.astro";
---

<Layout title="Blogs">
  <div class="flex flex-col">
    <h1 class="text-3xl font-semibold">Blog posts</h1>
    <Blogs />

    <div></div>
  </div>
</Layout>
