---
import Link from "../components/Link.astro";
---
<div
  class="flex justify-between items-center py-5 px-5 flex-wrap"
>
  <header>
    <a href="/" class="font-bold text-2x1 hover:text-blue-500">NaDario Seays</a>
  </header>
  <nav>
    <ul class="flex gap-4">
      <li><Link href="/">Home</Link></li>
      <li><Link href="/about">About</Link></li>
      <li><Link href="/blog/1">Blog</Link></li>
      <li><Link href="/feed.xml">RSS</Link></li>
    </ul>
  </nav>
</div>
