---
interface Props {
  slug: string;
}

const { slug } = Astro.props;
---

<div>
  <button
    id="like"
    data-slug={slug}
    class="px-3 py-1 rounded-md bg-blue-500 text-white"
  >
    Like
  </button>
  <p>Likes: <span id="numberOfLikes">0</span></p>
</div>

<script>
  const likeButton = document.getElementById("like");
  const numberOfLikes = document.getElementById("numberOfLikes");
  const slug = likeButton?.dataset.slug;

  likeButton?.addEventListener("click", () => hitLike());

  const hitLike = () => {
    fetch(`/api/likees/${slug}`, { method: "POST" })
      .then((res) => res.json())
      .then((data) => {
        if (!!numberOfLikes) numberOfLikes.innerText = data.likes;
      })
      .catch(() => {
        alert("Couldn't like the post.");
      });
  };

  function refreshLikes(){
    fetch(`/api/likees/${slug}`, )
      .then((res) => res.json())
      .then((data) => {
        if (!!numberOfLikes) numberOfLikes.innerText = data.likes;
      })
      .catch(() => {
        if(!!numberOfLikes) {
          numberOfLikes.innerText = '0';
        }
      });
  }

  refreshLikes();
</script>
