---
import Link from "../components/Link.astro";
import { ViewTransitions } from "astro:transitions";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      {...seo}
      title={seo?.title ?? "NaDario Seays"}
      description={seo?.description ?? "NaDario's Blog and Website Site"}
    />
    <ViewTransitions />
  </head>
  <body
    class="max-w-screen-lg mx-auto flex flex-col h-screen justify-between gap-20 px-5"
  >
    <div
      class="flex justify-between items-center py-4 max-w-screen-lg flex-wrap"
    >
      <header>
        <a href="/" class="font-bold text-2x1 hover:text-blue-500"
          >NaDario Seays  </a
        >
      </header>
      <nav>
        <ul class="flex gap-4">
          <li><Link href="/">Home</Link></li>
          <li><Link href="/about">About</Link></li>
          <li><Link href="/blog/1">Blog</Link></li>
          <li><Link href="/feed.xml">RSS</Link></li>
          <li>
            <Link href="https://github.com/knosence" isExternal>Github</Link>
          </li>
        </ul>
      </nav>
    </div>
    <main class="flex-1 px-10"> 
      <slot />
    </main>
    <footer class="w-full mx-auto text-center p-4">
      <span>&#169; {new Date().getFullYear()} KnoSence  NaDario Seays</span>
    </footer>
    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
      }
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
