---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";

import { ViewTransitions } from "astro:transitions";
import { SEO, type Props as SEOProps } from "astro-seo";

interface Props {
  seo?: SEOProps;
  ogImage?: {
    template: string;
    data?: Record<string, any>;
  };
}

const { seo, ogImage } = Astro.props;

const ogImageURL = `${Astro.url.origin}/og/${
  ogImage?.template ?? "default"
}.png?${new URLSearchParams(ogImage?.data)}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <SEO
      {...seo}
      title={seo?.title ?? "NaDario Seays"}
      description={seo?.description ?? "NaDario's Blog and Website Site"}
      openGraph={{
        basic: {
          type: "website",
          title: seo?.title ?? "NaDario's Personal Blog",
          image: ogImageURL,
          url: seo?.canonical,
        },
      }}
      twitter={{
        card: "summary_large_image",
        image: ogImageURL,
      }}
    />
    <ViewTransitions />
  </head>
  <body
    class="max-w-screen-xl mx-auto flex flex-col h-screen justify-between"
  >
       <Navigation/>
    <main>
      <slot />
    </main>
    <Footer />

    <style is:global>
      :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
          45deg,
          rgb(var(--accent)),
          #da62c4 30%,
          white 60%
        );
      }
      html {
        font-family: "mononoki-400", sans-serif;
        background-color: #f6f6f6;
      }
      @font-face {
        font-family: "mononoki-400";
        src: url("/fonts/mononoki-400.woff") format("woff");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
